.orders-container {
	background: #fff;
	padding: 35px;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

h1 {
	color: #2E1F1A;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 700;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	background: #3b2314;
	color: white;
	padding: 18px;
	text-align: center;
	font-size: 16px;
}

td {
	padding: 16px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #eee;
}

tr:hover {
	background: #faf8f3;
}

select {
	width: 180px;
	height: 42px;
	padding: 0 12px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 14px;
	background: white;
}

.update-btn {
	min-width: 110px;
	height: 42px;
	border: none;
	background: #D4AF37;
	color: #2E1F1A;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	transition: .3s;
}

.update-btn:hover {
	background: #c49f25;
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(212, 175, 55, .3);
}

.success-toast {
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	background: #1f8f3a;
	color: white;
	padding: 15px 25px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	font-size: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
	z-index: 9999;
	animation: slideUp .4s ease;
}

.success-toast i {
	font-size: 18px;
}


@keyframes slideUp {from { opacity:0;
	transform: translateX(-50%) translateY(20px);
}

to {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}

}
.card-count {
	font-size: 42px;
	font-weight: 700;
	color: #D4AF37;
	margin: 15px 0;
	text-align: center;
}

.dashboard-card {
	cursor: pointer;
	transition: 0.3s;
}

.dashboard-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 15px 35px rgba(0, 0, 0, .12);
}

/* Header */
.products-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.products-header h1 {
	color: #4E342E;
	font-size: 42px;
	font-family: 'Playfair Display', serif;
}

.search-box {
	width: 320px;
	padding: 14px 18px;
	border: none;
	border-radius: 14px;
	background: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}

.back-btn {
	display: inline-block;
	text-decoration: none;
	background: #4E342E;
	color: white;
	padding: 12px 22px;
	border-radius: 12px;
	font-weight: 600;
	margin-bottom: 25px;
	transition: all 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.back-btn:hover {
	background: #D4AF37;
	color: #2E1F1A;
	transform: translateY(-2px);
	box-shadow: 0 8px 20px rgba(212, 175, 55, .25);
}